
.smallInfo {
    font-size: smaller;
    color: #999999;
}

.examTitle {
    font-size: larger;
    font-weight: bold;
    margin-top: 4px;
}
.hanja {
    font-size: x-large;
}
.resultTitle {
    text-align: center;
    font-size: larger;
    text-decoration: underline;
}
.resultReport {
    text-align: center; 
    padding-bottom: 10px;
}
.footer {
    text-align:center; 
    height: 45px; 
    padding-top: 10px; 
    background-color: #eeeeee;
}